<a href="https://colab.research.google.com/github/Muskan2320/Python/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PYTHON

**Python is a popular programming language. Python is commonly used for developing websites and software, task automation, data analysis, and data visualization.**

#Data Types and its operations

Int, float, string, list, tuple, set, dictionary and boolean are some common data types. It is not compulsory in python to declare the data type we can directly assign the value to variable.

**Numeric data type - Int, Float**

In [ ]:
x = 2           ## Integer
y = 2.2         ## Float

print(type(x))  ## print() function used to output something
print(type(y))

<class 'int'>
<class 'float'>

In [ ]:
# Summation
sum = x + y
print(sum)

# Summing two integers
print(2+2)

4.2
4

In [ ]:
# Subtraction
sub = x - y
print(sub)

# Subtracting two integers
print(9-4)

-0.20000000000000018
5

In [ ]:
# Multiplication
mul = x*y
print(mul)

# Multiplying two integers
print(3*2)

4.4
6

In [ ]:
# Division
div = x/y
print(div)

# Dividing two integers
print(5/2)        # By default it division return a float value
print(4/2)

0.9090909090909091
2.5
2.0

**Strings**

In [ ]:
x = "Hello everyone"    # OR x = 'Hello everyone'
print(x)

# String indexing
print(x[3])

print(x[-1])            # Accessing last element of string

# String slicing
print(x[:4])            # print string from starting till index 3 (index 4 is excluded)

print(x[6:])            # print string from 5 till end

print(x[2:5])           # print string from 2 t0 index 4 (index 5 is excluded)

Hello everyone
l
e
Hell
everyone
llo

In [ ]:
# String concatenation -> joinig two strings using + operator

string1 = 'My name is Muskan.'
string_new = string1 + ' My surname is Mulyan.'
print(string_new)

My name is Muskan. My surname is Mulyan.

In [ ]:
# Splitting of string

L = string1.split(" ")                    # string1 will be separated by every space and every word will be stored in a list
print(L)

new = 'You#know#me'
K = new.split("#")
print(K)

# Joining of string
string = " ".join(L)                      # strings in list will be joined using space
print(string)

string = "#".join(K)
print(string)

['My', 'name', 'is', 'Muskan.']
['You', 'know', 'me']
My name is Muskan.
You#know#me

In [ ]:
# Find the length of string

length_string1 = len(string1)
print("Length of string: " + str(length_string1))

Length of string: 18

In [ ]:
# Count the occurrence of word in string

count_My = string_new.count('My')
print("Number of times 'My' occured in string_new: " + str(count_My))

Number of times 'My' occured in string_new: 2

In [ ]:
# Converting letters to upper and lower case

string1_lower = string1.lower()                                         # lower() converts all the letters of string to small case letters
print(string1_lower)

string1_lower = string1.upper()                                         # upper() converts all the letters of string to upper case letters
print(string1_lower)

string1_capital = string1_lower.capitalize()                            # capitalize() capitalize the first letter of string and rest all are small letters
print(string1_capital)

my name is muskan.
MY NAME IS MUSKAN.
My name is muskan.

**Lists**

Lists are just like dynamically sized arrays. A list can be defined as a collection of items of different types. Lists are mutable, iterable, indexable.

In [ ]:
List = ['Muskan', 10, 18.05, 'Mulyan', [2, 4, 6]]        # List can contain any data type

print(List[3])

# Multi-dimensional list

new = [[1, 'row'], [2, 'row'], [3, 'row']]
print(new[2][1])

Mulyan
row

In [ ]:
# List indexing

print( "Element in list with index 3: " +  str(List[3]) )
print( "Element in list with index -1: " +  str(List[-1]) )

Element in list with index 3: Mulyan
Element in list with index -1: [2, 4, 6]

In [ ]:
# Length of list

length_List = len(List)
print("Lenght of list: " + str(length_List) )

Lenght of list: 5

In [ ]:
# Add element to list

List = ['List', 1, 'created', [1,2,3,4] ]
List.append('New_element')                                    # append() is used to add new_element to lsit
print("Appended List: " + str(List) )

List.extend(['Hello', 1, 2])                                  # extend() is used to add multiple elements to lsit
print("Extended List: " + str(List) )

List.insert(0, -1)                                            # insert() used to add element to list at specific position/index -> insert(index, element)
print("List: " + str(List) )

Appended List: ['List', 1, 'created', [1, 2, 3, 4], 'New_element']
Extended List: ['List', 1, 'created', [1, 2, 3, 4], 'New_element', 'Hello', 1, 2]
List: [-1, 'List', 1, 'created', [1, 2, 3, 4], 'New_element', 'Hello', 1, 2]

In [ ]:
# List slicing

List_slice_begin = List[:3]
print( "Slicing list - Elements from begining till index 2: " + str(List_slice_begin) )

List_slice_end = List[3:]
print( "Slicing list - Elements from index 1 till end: " + str(List_slice_end) )

Slicing list - Elements from begining till index 2: [-1, 'List', 1]
Slicing list - Elements from index 1 till end: ['created', [1, 2, 3, 4], 'New_element', 'Hello', 1, 2]

In [ ]:
# Deleting element from list

List.remove('created')                                    # Removes specified element from list
print("List after removing 'created': " + str(List) )

List.pop(2)                                                   # Removing element using index
print("After popping element of index 2: " + str(List))

List.pop()                                                   # If no argument is provided, the last item in the list is removed.
print("After popping without passing index: " + str(List))

del List[-1]
print("Deleting using del: " + str(List))

List.clear()                                                  # Deletes whole list
print("After clearing list: " + str(List))

List after removing 'created': [-1, 'List', 1, [1, 2, 3, 4], 'New_element', 'Hello', 1, 2]
After popping element of index 2: [-1, 'List', [1, 2, 3, 4], 'New_element', 'Hello', 1, 2]
After popping without passing index: [-1, 'List', [1, 2, 3, 4], 'New_element', 'Hello', 1]
Deleting using del: [-1, 'List', [1, 2, 3, 4], 'New_element', 'Hello']
After clearing list: []

**Tuples**

Tuple is an immutable and ordered collection. It can store different data types in one tuple.

In [ ]:
new = ('Hello', 2, 7.5, (4,3), [3, 9])      # A tuple can have any data type int, float, list and tuple itself

# Indexing - starts from 0
print(new[4])

[3, 9]

In [ ]:
# Tuples are immutable. Hence, if we try to change some value it will throw error

# new[0] = 'NO'

In [ ]:
# Find length of tuple

Tuple_length = len(new)
print("Tuple length: " + str(Tuple_length) )

Tuple length: 5

In [ ]:
# Combining two tuples

Tuple = ('Tuples are immutable', 0, 1, 'Right')
Tuple1 = (" Yes")
Tuple_new = Tuple[0] + Tuple1
print("Combining two tuples: " + str(Tuple_new) )

Combining two tuples: Tuples are immutable Yes

In [ ]:
# Tuple repeatition

Tuple1_repitition = Tuple1*3                                   # Tuple can be twice, thrice,.... using tuple_name followed by * operator
print("Repeating tuple thrice: " + str(Tuple1_repitition) )

Repeating tuple thrice:  Yes Yes Yes

In [ ]:
# Finding an element in tuple

element_presence = 1 in Tuple                                  # x in tuple_name return True/False whether x present in given tuple or not
print( "1 present in Tuple: " + str(element_presence) )

1 present in Tuple: True

In [ ]:
# Tuple slicing

slicing = Tuple[0][:7]
print("Sliced tuple: " + str(slicing))

Sliced tuple: Tuples

**Sets**

Sets are used to store multiple items in a single variable. It is an unordered collection data type that is iterable, mutable and has no duplicate elements.

In [ ]:
Set1 = set([1, 2, 3, 7, 5, 3, 5, 2, 1, 'a', 'b', 'a'])

print("Set: " +  str(Set1) )                         # set contains only unique elements and it is unordered

Set: {1, 2, 3, 5, 7, 'a', 'b'}

In [ ]:
# Set is not indexable and hence, it shows errors

# Set1[0]

In [ ]:
# Adding element to the set

Set1.add('c')                                        # adds element 'c' to set
print("Set after adding 'c': " +  str(Set1) )

Set1.update([2, 8, 'Set'])                           # adding multiple elements to set (duplicates are not repeated)
print("Set after adding multiple elements: " +  str(Set1) )

Set after adding 'c': {1, 2, 3, 5, 7, 'a', 'b', 'c'}
Set after adding multiple elements: {1, 2, 3, 5, 7, 'a', 'b', 'c', 8, 'Set'}

In [ ]:
# Deleting element from set

Set1.discard('a')
print("Set after deleting 'a': " +  str(Set1) )

Set1.remove(3)                                       # removes element from set
print("Set after removing 3: " +  str(Set1) )

Set1.pop()                                           # Random element removed from set
print("Removing random element: " + str(Set1))

Set1.clear()                                         # Clears/Deletes the whole set
print("Set after clear() command: " + str(Set1))

Set after deleting 'a': {1, 2, 3, 5, 7, 'b', 'c', 8, 'Set'}
Set after removing 3: {1, 2, 5, 7, 'b', 'c', 8, 'Set'}
Removing random element: {2, 5, 7, 'b', 'c', 8, 'Set'}
Set after clear() command: set()

In [ ]:
# Union of two sets

Set1 = set([1, 2, 3, 7, 5, 3, 5, 2, 1, 'a', 'b', 'a'])
Set2 = set([10, 12, 'b', 'c'])
Set_union = Set1 | Set2                              # Union of two sets using | operator. Also possible using Set1.union(Set2)
print("Union of two sets: " + str(Set_union))

# Intersection of two sets

Set_intersection = Set1 & Set2                       # Intersection of two sets using & operator
print("Intersection of two sets: " + str(Set_intersection))

Union of two sets: {1, 2, 3, 5, 7, 'a', 'b', 10, 'c', 12}
Intersection of two sets: {'b'}

**Dictionary**

Dictionaries are used to store data values in key:value pairs unlike other data types which hold only a single value as an element. They key must be unique and it is immutable though value is changeable and can be repeated.

In [ ]:
dic = {0: 'First element', 2: 'Apple', 'one': 'Dictionary', 'three': [1,4,5], '4': 'List can be a dictionary value'}

print(dic['one'])                 # dict_name[key] gives the value of key
print(dic[2])

Dictionary
Apple

In [ ]:
# Get keys and values of dictionary

dic_keys = dic.keys()                             # Return all keys present in dictionary
print(dic_keys)

dic_values = dic.values()                         # Returns all values present in dictionary
print(dic_values)

dict_keys([0, 2, 'one', 'three', '4'])
dict_values(['First element', 'Apple', 'Dictionary', [1, 4, 5], 'List can be a dictionary value'])

In [ ]:
# Add element to dictionary

dic2 = {4: 'My dictionary', 5: [ [1,2], [2,4] ]}
dic2.update({'key':'last'})
print("After adding element: " + str(dic2))

dic.update(dic2)                                  # dic2 is added to dic using upadate() command
print("Merging dic2 to dic: " + str(dic))

After adding element: {4: 'My dictionary', 5: [[1, 2], [2, 4]], 'key': 'last'}
Merging dic2 to dic: {0: 'First element', 2: 'Apple', 'one': 'Dictionary', 'three': [1, 4, 5], '4': 'List can be a dictionary value', 4: 'My dictionary', 5: [[1, 2], [2, 4]], 'key': 'last'}

In [ ]:
# Delete items from dictionary

val_removed = dic.pop(2)                          # Removes the key-value pair with key=2. Also, it returns the value associated with key which is removed
print("Removed Value: " + str(val_removed))
print("Dictionary: " + str(dic))

val_removed = dic.pop(2, 'Removed')               # Assigns 'removed' value to the key removed
print("Removed Value: " + str(val_removed))

del dic['one']                                    # If no key passed to dic (i.e. del dic) then whole dictionary is deleted
print("Removed key 'one': " + str(dic))

dic.popitem()                                     # Removes last key-value pair of dictionary
print("Dictionary: " + str(dic))

Removed Value: Apple
Dictionary: {0: 'First element', 'one': 'Dictionary', 'three': [1, 4, 5], '4': 'List can be a dictionary value', 4: 'My dictionary', 5: [[1, 2], [2, 4]], 'key': 'last'}
Removed Value: Removed
Removed key 'one': {0: 'First element', 'three': [1, 4, 5], '4': 'List can be a dictionary value', 4: 'My dictionary', 5: [[1, 2], [2, 4]], 'key': 'last'}
Dictionary: {0: 'First element', 'three': [1, 4, 5], '4': 'List can be a dictionary value', 4: 'My dictionary', 5: [[1, 2], [2, 4]]}

In [ ]:
# Check whether given element present or not

result = 3 in dic                                 # x in dictionary_name return True/False whether key x present in given dictionary or not
print("Key=3 present in dictionary 'dic': " + str(result) )

Key=3 present in dictionary 'dic': False

**Boolean**

Booleans represent one of two values: True or False. When you compare two values, the expression is evaluated and Python returns the Boolean answer.

In [ ]:
# True

print(100 > 0)

print(True)          # True represents boolean value other strings like true, TRUE, etc. don't
#print(true)         This statement will throw error
print('True')        # Here True in single quotes represent string

print(int(True))

True
True
True
1

In [ ]:
# False

print(1 == 10)

print(False)          # False represents boolean value other strings like false, FALSE, etc. don't
#print(false)         This statement will throw error
print('False')        # Here False in single quotes represent string

print(int(False))

False
False
False
0

# Input

It refers to the value we ask from user. It is by default considered as string in python.

In [ ]:
x = input()     # input value is assigned to variable x

print(type(x))

123

str

In [ ]:
# Change the type of input variable to desired one

x = int(input())

print(type(x))

123
<class 'int'>

In [ ]:
# If you want to display message while input

x = input("Enter an integer: ")

Enter an integer: 18

# Output

Data is printed using print() function. It by default shift the cursor to new line but it can be changed using an arguement end.

In [ ]:
# Each print statement printed in new line

print("Hello")
print("Welcome all")

Hello
Welcome all

In [ ]:
# Specify the end type of print statement

print("Hello", end=" ")
print("Welcome all")

Hello Welcome all

In [ ]:
# Printing integer and string combined

string1 = "I have"
integer = 1
string2 = "brother"

print("Method 1: ")
print(string1 + " " + str(integer) + " " + string2)     # String and integer can be combined by converting integer to string and concatenating them

print("\nMethod 2: ")
print(f'I have {integer} brother')                     # {name of variable is specified}
print(f'{string1} {integer} {string2}')

print("\nMethod 3: ")
print('I have', integer, 'brother')                     # {name of variable is specified}

Method 1:
I have 1 brother

Method 2:
I have 1 brother
I have 1 brother

Method 3:
I have 1 brother

In [ ]:
# Separator

print(string1, integer, string2, sep="+")

I have+1+brother

# Conditional statements

These are those statements which are performed when a specific statement is true.

In [ ]:
a = 12
b = 21

if a > b:
  print(a, "greater than", b)       # If a is greater than b then this statement is executed
else:
  print(b, "greater than", a)       # If a is not greater than b then this statement is executed

21 greater than 12

In [ ]:
# For adding multiple condition statements

if a > b:
  print(a, "greater than", b)       # If a is greater than b then this statement is executed
elif a < b:
  print(b, "greater than", a)       # If a is not greater than b then this statement is executed
else:
  print(b, "equal to", a)           # If none of statement is true then else statement is executed

# Logical operations

AND, OR, NOT are three logical operators.

In [ ]:
# AND operator

print((10 > 5) and (1 > 2))       # It returns true only when both conditions are true

False

In [ ]:
# OR operator

print((10 > 5) or (1 > 2))        # It returns true when atleast one condition is true

True

In [ ]:
# NOT operator

print(not((10 > 5) and (1 > 2)))   # It converts true expression to false and vice-versa

True

# Loops

We have for loop and while loop in python.

**For loop**

In [ ]:
for i in range(5):              # Loop will be executed 5 times from 0 to 4
  print("Loop", i)

Loop 0
Loop 1
Loop 2
Loop 3
Loop 4

In [ ]:
for i in range(1,10,2):       # range(start, end, step) -> value of start increase by step in each interation
  print(i)

1
3
5
7
9

In [ ]:
for i in range(1,10):       # range(start, end) -> loop goes from start to (end-1)
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# Iterating on any data type

L = ['Hello', 'first', 123, 'last', [2]]

for item in L:          # This is the one way to access elements of list you can also do this using index
  print(item)

# Iterating using index
# for i in range(len(L)):
#   print(L[i])

Hello
first
123
last
[2]

In [ ]:
# Iterating over dictionary

dic = {1:'first', 3:'wrong', 'last':'not decided'}

for key in dic:
  print(key, dic[key])

1 first
3 wrong
last not decided

**While loop**

In [ ]:
# syntax of while loop
# while(condition):
#   statement
#   increment

i = 0

while(i<5):
  print("Loop", i)
  i+=1

Loop 0
Loop 1
Loop 2
Loop 3
Loop 4

**Nested loop**

In [ ]:
step = 1

while(step!=4):

  for k in range(step):
    print(k,end="-")

  print("For loop ended")
  step = step + 1

0-For loop ended
0-1-For loop ended
0-1-2-For loop ended

# Functions

A function is a block of code which only runs when it is called. We can pass data known as parameters or arguements into a function. A function can return data as a result.

In [ ]:
def function(a:int, b:int) -> int:         # def keyword used to define a function followed by function_name, arguements paased to it and return type
  sum = a * b
  return sum

k = function(2,3)
print(k)

6

In [ ]:
# It is no compulsory to tell the data type of arguement and specify the return type.
# It by default choose the most appropriate data type.

def function(a, b):
  sum = a + b
  return sum

k = function('Hey ',"What's up")
print(k)

Hey What's up